[Unit]
Description=Frigate NVR
After=network-online.target 

[Container]
Network=host
ContainerName=frigate
Image=ghcr.io/blakeblackshear/frigate:stable-tensorrt
ShmSize=4g
AddDevice=nvidia.com/gpu=all
Volume=/config:/config:rw
Volume=/media/frigate:/media/frigate:rw
Volume=/etc/localtime:/etc/localtime:ro
Mount=type=tmpfs,target=/tmp/cache,tmpfs-size=1000000000
Environment=TZ=Europe/Oslo
Environment=NVIDIA_VISIBLE_DEVICES=all
Environment=NVIDIA_DRIVER_CAPABILITIES=compute,video,utility
EnvironmentFile=/config/frigate.env

[Service]
Restart=always
TimeoutStopSec=30
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target