[Unit]
Description=Torrent Stack Docker Compose Service
After=network-online.target docker.service
Requires=docker.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/torrent/stack/
EnvironmentFile=/torrent/stack/torrent-stack.env
ExecStart=docker compose up -d
ExecStop=docker compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target