[Unit]
Description=MediaMTX media server
After=network-online.target

[Container]
Network=host
ContainerName=mediamtx
Image=docker.io/bluenviron/mediamtx:1.21.0
Volume=/config:/config:rw
Volume=/media:/media:rw
Volume=/etc/localtime:/etc/localtime:ro
Environment=TZ=Europe/Oslo
EnvironmentFile=/env/surveillance/mediamtx.env
Exec="/config/mediamtx.yml"

[Service]
Restart=always
TimeoutStopSec=15
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
